/* app css stylesheet */
/*.col-xs-4 {
  border: 2px solid black;
}*/

/*.col-xs-8 {
  border: 2px solid black;
}

.col-xs-12 {
  border: 2px solid black;
}*/

#small-icon {
  height: 20px;
  width: 20px;
}

.row {
  padding: 40px;
}

.menu-item {
  display: inline;
  margin-right: 20px;
}

.welcome {
  margin-left: 70px;
  font-size: 26px;
}

.signup-error {
  color: red;
}

/* Adjust User Home CSS */
.prefList {
  font-size: 130%;
  font-style: oblique;
}

.itemHeadline {

}

/* angular bootstrap remedy - avoids adding empty href attributes to link tags which cause unwanted route changes */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
