/* app css stylesheet */

#small-icon {
  height: 20px;
  width: 20px;
}

.row {
  padding: 40px;
}

.menu-item {
  display: inline;
  margin-right: 20px;
}

.welcome {
  margin-left: 70px;
  font-size: 26px;
}

.signup-error {
  color: red;
}

/* Adjust User Home CSS */
.prefList {
  font-size: 130%;
  font-style: oblique;
}

.item-headline {
  font: 200 50px/1.3 Helvetica, 'Oleo Script', sans-serif;
  font-weight: 230;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

/* shadowed */
.profile-pic {
  padding-left: 2cm;
  padding-top: 0.5cm;
  -webkit-filter: drop-shadow(12px 12px 15px rgba(0,0,0,0.5));
}

/* angular bootstrap remedy - avoids adding empty href attributes to link tags which cause unwanted route changes */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
